.list{
    display: flex;
    flex-wrap: wrap;
    width: calc( 75% - 30px);
    margin-right: 30px;
    /* box-sizing: border-box; */
    
}
@media(max-width:768px){
    .list{
        width: 95%;
    }
}