.productDetailBox{
    font-family: sans-serif;
    width: 85vw;
    border: 3px solid rgba(5,132,242,.9);
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    /* top:87.5px; */
    margin: 100px auto 20px auto;
    padding:0;
    box-shadow: 0 0 5px 2px rgba(5,132,242,.5)
    /* overflow: hidden; */
}
.productImg{
    flex:0 0 45%;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding:20px;
}
.productDetail{
    flex:0 0 55%;
    /* height:100%; */
    box-sizing: border-box;
    border-left: 3px solid rgba(5,132,242,.9);
    padding:20px 40px;
}
.productDetail>div{
    margin: 20px 0;
}
.productDetail>div h4{
    font-weight: 700;
    margin-bottom: 10px;
}

.productImg img{
    display: block;
    width: 100%;
    height: auto;
}
.productName h3{
    font-size: 30px;
    font-weight: 700;

}
.productPrice span{
    display: block;
    font-size: 24px;
    /* margin-top: 50px; */
    color:#ffc107;
    font-weight: 700;
}


.productAddCart{
    /* height: 30px; */
    font-size: 20px;
    color:rgba(5,132,242,.9);
    border: 1px solid rgba(5,132,242,.9);
    border-radius: 5px;
    background-color: #fff;
    padding:10px;
    outline: 0;
    cursor: pointer;
    transition: .5s;
    
}
.productAddCart:hover{
    color:#fff;
    background-color: rgba(5,132,242,.9);
    
}
.iconCart{
    display: inline-block;
    width: 25px;
    vertical-align: middle;
}
.selectButt{
    outline: 0;
    width: 150px;
    height:36px;
    border: none;
    padding:10px;
    font-size: 16px;
    
    background-color: rgba(5,132,242,.9);
    color:#fff;
}

@media(max-width:768px){
    .productDetailBox{
        flex-wrap: wrap;
    }
    .productImg{
        flex:0 0 100%;
    }
    .productDetail{
        flex:0 0 100%;
        border: none;
    }
    .productName h3{
        font-size: 20px;
    }
    .selectButt{
        height:20px;
        width:100px;
        padding:2px;
    }
}