
.cart{
    position: fixed;
    width: 94vw;
    height:calc(98vh - 70px);
    background-color: rgba(5,132,242,1);
    font-family: sans-serif;
    border:1.5px solid #222;
    /* border-radius: 5px; */
    z-index: 150;
    right:-500px;
    top:70px;
    opacity: 1;
    transition: .6s;
}
.cartTitle{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartTitle .iconTitle{
    width: 40px;
    color:#fff;
}
.cartTitle h3{
    /* padding:5px; */
    margin-left: 10px;
    font-size: 22px;
    font-weight: 800;
    /* letter-spacing: 2px; */
    color:#fff;
    text-transform: uppercase;
    
}
.cartList{
    width:calc(100% - 14px);
    box-sizing: border-box;
    margin: 15px 7px;
    padding: 5px;
    height:400px;
    overflow:hidden;
    overflow-y: scroll;
    background-color: #fff;
}

.cartList::-webkit-scrollbar {
    width: 10px;
  }
  
  
.cartList::-webkit-scrollbar-track { 
    background: #f1f1f1;
  }

.cartList::-webkit-scrollbar-thumb {
    background: rgb(5, 61, 109);
  }
.subTotal{
    width: calc(100% - 30px);
    font-size: 26px;
    color:#ffc107;
    font-weight: 700;
    padding:5px 15px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.checkOutButton{
    width:calc(100% - 14px);
    text-transform: uppercase;
    background-color: #fff;
    padding:10px 0;
    border: 1px solid #fff;
    color:rgba(5,132,242,1);
    font-size: 20px;
    margin: 10px 7px;
    outline: 0;
    cursor: pointer;
    transition: .4s;
}
.checkOutButton:hover{
    background-color: #edd;
}
.iconClose{
    position: absolute;
    width: 12px;
    padding: 2px 5.9px;
    color:#fff;
    border: 5px solid red;
    background-color: red;
    border-radius: 0;
    cursor: pointer;
    right:0;
    top:0;
    
}



.cartButton{
    position: fixed;
    bottom:70px;
    right:30px;
    opacity: 1;
}
.iconCart{
    width: 40px;
    padding:10px;
    color:#fff;
    border: 5px solid #ffc107;
    background-color: #ffc107;
    border-radius: 50%;
    cursor: pointer;
}
.redCircle{
    /* display: inline-block; */
    position: absolute;
    background-color: red;
    width: 20px;
    height:20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color:#fff;
    border-radius: 50%;
    top:-3px;
    right:1px;
}

@media(min-width:769px){
    .cart{
        width: 450px;
        height: 600px;
        top:100px;
    }
    .cartButton{
        right:90px;
    }
    .iconClose{
        width: 20px;
        padding: 5px 10px;
        border-radius: 50%;
        right:-25px;
        top:-25px;
    }
 
}